
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}


/* header */
header{
    width: 100%; 
    position: fixed;
    z-index: 4;
}

header ul{
    position: absolute;
    right: 20px;
    top: 30px;
    list-style-type: none;
  

}
header li{
    display: inline-block;
    margin: 10px;
     
}

a:hover{
    color: black;
}
span a{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 20px;


}
/* fine header */







/* main */


main section{
    height: 100vh;
    position: relative;
}
.rosso{
    background-color: red;
    z-index: 3;
} 
.verde{
    background-color: green;
    z-index: 3;
}
.giallo{
    z-index: 3;
    background-color: yellow;
}


img{
    width: 100%;
}

.product-container div{
    object-fit: cover;

}

.product-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1{
    font-size: 40px;
    padding: 0% 15%;
    color: yellow;
    text-align: center;
    
}
.giallo div h1{
    color: green;
}

/* fine main */