
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}



header{
    width: 100%; 
    position: fixed;
    z-index: 4;
}

header ul{
    position: absolute;
    right: 20px;
    top: 30px;
    list-style-type: none;
  

}
header li{
    display: inline-block;
    background-color: white;
    margin: 10px;
     
}


header ul li a{ 
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-size: 30px;
    
}











main section{
    height: 100vh;
    position: relative;
}



.rosso{
    background-color: red;
    z-index: 3;
} 
.verde{
    background-color: green;
    z-index: 3;
}
.giallo{
    z-index: 3;
    background-color: yellow;
}


img{
    width: 100%;
}


.container-img{
    object-fit: cover;
}


.product-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1{
    font-size: 40px;
    padding: 0% 15%;
    color: yellow;
    text-align: center;

}
.giallo div h1{
    color: green;
}

